.social-media-div {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.icon-button i {
  color: white;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px 10px 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
}

/* Ensure icons are displayed in separate lines */
.social-icons,
.competitive-icons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px; /* Adjust for spacing between two lines of icons */
}

.competitive-icons .iconify {
  margin: 0 5px 10px 5px;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  width: 2.6rem;
}

/* Media Query */
@media (max-width: 768px) {
  .social-media-div {
    text-align: center;
    align-items: center;
  }
}
